@page "/curriculo Gabriel"

<PageTitle>Curriculo</PageTitle>

<h1>Currículo do Gabriel</h1>

<img src="/" alt="Minha foto" width="200" />

<h2>Informações Pessoais:</h2>
<h3>
    Nome: Gabriel Ferreira Bernardo Boaventura
</h3>
<h3>
    Email: gabrielfbboaventura600@gmail.com
</h3>
<h3>
    Telefone: (69) 99354-2785
</h3>
<h3>
    Localização: Ji-Paraná, RO
</h3>
<h3>
    GitHub: https://github.com/bielnjk
</h3>

<h2>Objetivo Profissional:</h2>
<h3>
    Atuar como desenvolvedor fullstack, aprimorando habilidades em banco de dados,
    web, mobile entre outros.
</h3>


<h2>Formação Acadêmica:</h2>
<h3>
    Curso Técnico em Informática – IFRO – Conclusão: 2025
</h3>
<h3>
    Ensino Médio – IFRO – Conclusão: 2025
</h3>

<h2>Experiência Profissional:</h2>
<h3>
    Estagiário de desenvolvimento de jogos voltados a área indigena – Empresa UNIR
</h3>
<h3>
    Desenvolvimento com HTML, CSS e JS.
</h3>


<h2>Habilidades Técnicas:</h2>
<h3>
    HTML, CSS, JavaScript, C#, Blazor, MySQL, Git.
</h3>

<h2>Idiomas</h2>
<h3>
    Português: Nativo
</h3>
<h3>
    Inglês: intermediario
</h3>

<h3>
    Lógica de Programação – Udemy, IFRO.
</h3>

<style>
    h2 {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    h3 {
        margin-left: 20px;
        margin-bottom: 8px;
    }
</style>

